$main_color: #D4F870;
$second_color: #7A45D6;
$third_color: black;
$fourth_color: white;

.aboutCompany{
    width: 100%;
    #map{
        width: 98%;
        height: 400px;
        margin-right: 20px;
    }
}