$main_color: #D4F870;
$second_color: #7A45D6;
$third_color: black;
$fourth_color: white;

.aboutCompany{
    width: 100%;
    h1{
        color: $second_color;
        margin-left: 20px;
        font-weight: bold;
    }

    h3{
        color: $second_color;
        margin-left: 20px;
        font-weight: bold;
    }

    p{
        margin-left: 10px;
        max-width: 900px;
    }

    #map{
        width: 80%;
        height: 400px;
        //margin-right: 20px;
        margin-bottom: 10px;
    }
}