$main_color: #D4F870;
$second_color: #7A45D6;
$third_color: black;
$fourth_color: white;

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin:0px;
  .chat-menu{
    border: $second_color solid 2px;
    .closeBtn{
      border: none;
      width: 24px;
      height: 24px;
      border-radius: 12px;
      background-color: $second_color;
      color: $fourth_color; 
      font-weight: bold;
      margin: 4px;

    }
    position: fixed;
    z-index: 999;
    width: 300px;
    height: 440px;
    bottom: -410px;
    right: 40px;
    background-color: $main_color;
    .chatField{
      background-color: $fourth_color;
      border: solid 1px $second_color;
      
      width:250px;
      height: 330px;
      margin-left: 20px;
      padding-top: 1px;
      p{
        border-radius: 6px;
        background-color: $second_color;
        width: 90%;
        color: $fourth_color;
        padding: 5px;
      }
    }
    .friteField{
      position: absolute;
      bottom: 15px;
      right: 20px;
      input{
        border: $second_color solid 2 px ;
        width: 160px;
        padding: 6px;
      }
      button{
        padding: 8px;
        background-color: $second_color;  
        border: none;
        color: $fourth_color; 
      }
    }
  }
}

button{
  cursor: pointer;
}


//Main page begin

.general_container{
  display: flex;

  .slider_show_container{
    max-width: 1000px;
    max-height: 350px;
    position: relative;
    //margin: 0 0px;

    .prev, .next{
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: $fourth_color;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
    }
    .next{
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover{
      background-color: $second_color;
    }

    .slider_text{
      color: $fourth_color;
      font-size: 50px;
      font-weight: bold;
      padding: 8px 12px;
      position: absolute;
      top: 0;
      margin: 10px 20px;
    }

    .dots{
      margin-bottom: 15px;
      position: absolute;
      bottom: 0;
      left: 50%;
    }

    .dot{
      cursor: pointer;
      height: 13px;
      width: 13px;
      margin: 0 2px;
      background-color: $fourth_color;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6 ease;
    }

    .active, .dot:hover{
      background-color: $second_color;
    }

    .fade{
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @-webkit-keyframes fade{
      from{
        opacity: 0.4;
      }
      to{
        opacity: 1;
      }
    }
    @keyframes fade{
      from{
        opacity: 0.4;
      }
      to{
        opacity: 1;
      }
    }
  }

  .achieves{
    margin-left: 10px;
    max-width: 700px;
    max-height: auto;

    display: flex;
    flex-wrap: wrap;
    .achieve{
      min-width: 250px;
      background-color: $main_color;
      max-width: 280px;
      color: $second_color;
      padding: 15px;
      margin-bottom: 10px;
      margin-right: 6px;
      
      span{
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        padding: 0px 15px;
      }
      p{
        font-size: 20px;
        color: $third_color;
        padding: 5px;
      }
    }
  }
}

//Main page end

//Catalog

.container-product{
  display: flex;
}

.basketSumContainer{
  width: 100%;
  background-color: $main_color;
  padding: 15px 0px;
  color: $second_color;
  font-size: 24px;
  margin-bottom: 10px;
  .pay{
    padding: 10px 30px;
    border: none;
    background-color: $second_color;
    color: $fourth_color;
    margin-left: 2%;
    font-size: 16px;
  }
  span{
    margin-left: 2%;
    text-align: right;
    width: 85%;
  }
  .basketSum{
    margin-left: 3%;
    margin-right: 3%;
  }
}

.products{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  .flexInBasket{

    .basketProdCont{
      width: 200px;
      
    }
    .description{
      max-width: 50%;
      margin-top: 0;
      margin-left: 20px;
      text-align: left;
    }
    .price{
      margin-left: auto;
      margin-right: 3%;
      font-size: 24px;
      text-align: right;
      color: $second_color;
    }
    .btn{
      height: 35px;
      margin-left: 20px;      
    }
    display: flex;
    
  }
}

.products .item{
  min-width: 200px;
  font-size: 18px;
  //height: 100px;
  background-color: white;
  text-align: center;
  margin: 15px;
}

.products .item .img{
  margin-top: 10px;
  width: 100%;
  height: 220px;
  background-repeat: no-repeat;
}

.products .item .btn{
  margin-top: 10px;
  border: none;
  color: $fourth_color;
  background-color: $second_color;
  padding: 10px 15px;
}

.catalog_menu_container{
  height: auto;
  margin-right: 10px;
  ul.catalog_menu{
    margin: 0px;
    padding: 0px;
    li{
      list-style-type: none;
      color: $fourth_color;
      background-color: $second_color;
      padding: 16px 80px 16px 60px;
      margin-bottom: 2px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

// registration menu
.registration-menu{
  display: none;
  .black-background{
    position: fixed;
    background-color: black;
    opacity: 80%;
    z-index: 9999;
    height: 100%;
    width: 100%;
  }
  .reg-form{
    background-color: $main_color;
    position: fixed;
    z-index: 9999;
    right: 45%;
    bottom: 45%;
    padding: 20px 40px;
    input, button{
      padding: 10px 15px;
      margin-top: 20px;
      border: $second_color solid 2px;
    }
    button{
      color: $fourth_color;
      background-color: $second_color;
    }
  }
}

  
  
  @keyframes chat-show{
    from{
      opacity: 0.6; 
      transform: translate(0px, 50px);
    }
    to{
      opacity: 1;
    }
  }
  

